@{
    ViewData["Title"] = "Wynik";
}

@model ASPNET_zad3_obsluga_formularzy.Models.Rejestracja

<h1>Rejestracja zakończona pomyślnie</h1>
<p>Dziękujemy, @Model.Imie @Model.Nazwisko, za rejestrację!</p>
